* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Mono',
        monospace;
}

.main-container {
    /* background: linear-gradient(to left, rgba(204, 0, 255, 1), rgba(242, 21, 21, 1)); */
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fdfdfd;

}

.home-page {
    position: fixed;
    top: 1rem;
    background-color: #7928a8;
    right: 2rem;
    color: #fdfdfd;
    height: 2rem;
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 5px;
}

.box-container {
    /* border: 2px solid #fdfdfd; */
    margin: 0 auto;
    height: 80%;
    width: 60%;
    border-radius: 50px;
    /* border: none; */
    background-color: #0e2b36;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;

}



#subject-name {
    color: #fdfdfd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-field {
    display: flex;



    justify-content: space-evenly;


}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 50%;
}

.input-box {
    width: 61%;
    border: none;
    border-radius: 5px;
    background-color: #9c9c9c;
}

.input-field button {
    border-radius: 5px;
    border: none;
    background-color: #f4b272;
    width: 10%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto Mono',
        monospace;
    font-size: 1rem;
    /* float: right; */
}

input[type=text] {
    font-family: 'Roboto Mono',
        monospace;
    /* border: none; */
    outline: none;
    font-size: 1rem;

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fdfdfd;
    /* opacity: 1; */
    /* Firefox */
}



button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0000ee;
}

#task-list {


    background-color: #fdfdfd;
    margin: 0 auto;
    width: 80%;
    border-radius: 4px;
    padding-right: 40px;

}



#task-list ul {
    display: flex;
    justify-content: space-evenly;
}

.align {
    border: none;
    outline: none;
    /* padding: 10px 16px; */
    background-color: #f1f1f1;
    cursor: pointer;
    padding-right: 10px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.align a{
    color: black;
}

.active,
.align:hover {
    background-color: #666;
    color: white;
}

.task-container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #fdfdfd;
    margin-top: 2rem;
    background-color: #fdfd;
    border: none;
    overflow: auto;
}



.icons {
    display: flex;
    justify-content: space-evenly;
    float: right;
    padding-right: 1rem;
    height: 1.1rem;
}

.blue {
    color: #6f59ec;
}

.red {
    color: #c23616;
}

.orange {
    color: #531e12;

}

.list-group {
    font-size: 1.1rem;
}